@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Significance and benefit of chanting the holy names of Krishna via the Maha-mantra, or great chant for Deliverance :</p>
<img src="~/images/radha-vrindavan-chandra.jpg" alt="krishna" class="img-responsive" />
<p></p>
<p><strong>Hare Krishna, Hare Krishna</strong></p>
<p><strong>Krishna, Krishna</strong></p>
<p><strong>Hare, Hare</strong></p>
<p><strong>Hare Rama, Hare Rama</strong></p>
<p><strong>Rama, Rama</strong></p>
<p><strong>Hare, Hare</strong></p>
<p>According to Vedic literature and according to the personal testimonay of realized souls, Krishna is the original person. And, as the original person, He is the origin of all of us. We too, are by nature spiritual persons. Although we have physical bodies, our actual nature is spiritual. We're spiritual and Krishna is spiritual, but the difference is that Krishna is great, we are small. Beacuse we're both spiritual, we can have a relationship with each other but because He's great He's the origin and we're small. The relationship is that we're dependent on Him.    </p>

