@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>*@

<div class="carousel-inner" role="listbox">
    <div class="item active">
        @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
        <img src="~/images/1.jpg" alt="krishna" class="img-responsive" />
        <div class="carousel-caption" role="option">
        </div>
    </div>
</div>
<br />

<address>
    For any password reset assistance or general queries, feel free to contact us:
    <br />
    <strong>Support:</strong> <a href="mailto:japathonhelp@gmail.com">japathonhelp@gmail.com</a><br />
</address>
