@page
@model DonateModel
@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>*@

<div class="carousel-inner" role="listbox">
    <div class="item active">
        @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
        <img src="~/images/new1.jpg" alt="krishna" class="img-responsive" />
        <div class="carousel-caption" role="option">
        </div>
    </div>
</div>
<br />


    We are creating various applications for spreading chanting of the holy names and managing various services for all ISKCON temples efficiently. We kindly request you to make any small donation which will help us in this cause. We need financial support for maintaining servers, hiring good people and buying various technological services.
<br />
<br />
    Future version of the application will include :
<br />
1. Notification about and live tracking of Sankirtan events.
<br />
2. Live audio streaming and guided audio meditations.
<br />
<br />
<strong>
    Please support us by donation by <a href="http://www.iskconpune.com/japathon/" target="_blank">clicking here</a><br />
</strong>
<br />
<strong>Non Indian residents please contact us at <a href="mailto:japathonhelp@gmail.com">japathonhelp@gmail.com</a></strong>
