@page
@model PrayTm.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<html>
<head>
</head>
<body>
    @*<h2>@ViewData["Title"]</h2>
        <h3></h3>*@
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
            <img src="~/images/1.jpg" alt="krishna" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <br />


    <form method="post">

        <table>
            <tr>
                <td><strong>Name</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtName" asp-for="name" type="text" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtEmail" asp-for="email" type="email" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <td><strong>Password</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtEmail" asp-for="password" type="password" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <td><strong>Confirm Password</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtEmail" asp-for="confirmPassword" type="password" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <td><strong>Mobile</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtEmail" asp-for="mobile" type="text" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>

            <tr>
                <td><strong>City</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtCity" asp-for="city" type="text" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>

            <tr>
                <td><strong>Country</strong></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>  <input id="txtCountry" asp-for="country" type="text" required /></td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>

            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td> <button type="submit" asp-page-handler="Register">Register</button></td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td><td> <label style="color:crimson">@Model.Message</label></td></tr>
        </table>

        @*<div>
                <strong>Name</strong>
                <input id="txtName" asp-for="name" type="text" />
            </div>
            <p></p>
            <div>
                <strong>Email</strong>
                <input id="txtEmail" asp-for="email" type="text" />
            </div>
            <p></p>
            <div>
                <strong>Password</strong>
                <input id="txtPassword" asp-for="password" type="password" />
            </div>
            <p></p>
            <div>
                <strong>Confirm Password</strong>
                <input id="txtConfirmPassword" asp-for="confirmPassword" type="password" />
            </div>
            <p></p>
            <div>
                <strong>Mobile</strong>
                <input id="txtMobile" asp-for="mobile" type="text" />
            </div>
            <div>
                <button type="submit" asp-page-handler="Register">Register</button>
            </div>*@
        @Html.AntiForgeryToken()
    </form>
    <script type="text/javascript" src="~/js/countries.js"></script>
</body>
</html>